<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="outputDirectory" value="C:\Git\MasterThesis\WordCount" />
    <add key="rawOutputFileName" value="rawOutput.txt" />
    <add key="rawOutputSeparator" value="\t" />
    <add key="processedOutputFileName" value="reversedOutput.txt" />
    <add key="processedOutputHeader" value="Second\tStartTime\tEndTime\tLatency\tProcessingTime\tWordCount\tMessageCount" />
    <add key="processedOutputFormat" value="{0}\t{1}\t{2}\t{3}\t{4}\t{5}\t{6}" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>