<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="outputSeparator" value="\t" />
    <add key="reportHeader" value="Second\tMessageCount\tTweetAverageLatency\tStockAverageLatency\tAverageLatency" />
    <add key="reportFormat" value="{0}\t{1}\t{2}\t{3}\t{4}" />
    <add key="experimentDirectory" value="C:\Git\MasterThesis\experiments\_singleStockTweetJoin" />
    <add key="analysisFolder" value="Analysis"/>
    
    <add key="frameworkName" value="KafkaStreams" />
    <!--<add key="frameworkName" value="Spark" />-->
    <!--<add key="frameworkName" value="Flink" />-->
    
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>