<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="outputSeparator" value="\t" />
    <add key="reportHeader" value="Second\tMessageCount\tWordCount\tAverageLatency" />
    <add key="reportFormat" value="{0}\t{1}\t{2}\t{3}" />
    <add key="experimentDirectory" value="C:\Git\MasterThesis\experiments\WordCount" />
    <add key="analysisFolder" value="Analysis" />
    <!--<add key="frameworkName" value="KafkaStreams" />
    -->
    <!--
    <add key="frameworkName" value="Spark" />
    -->
    <add key="frameworkName" value="Flink" />
    <!---->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>